* {
  box-sizing: border-box;
}

.main {
  margin-left: 25%;
  font-size: 28px;
  padding: 0px 10px;
}

.todo-item {
  border: solid 1px black;
  padding: 10px;
}

.main-content-todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remainder-content {
  display: none;
}
